.sale-purchase {
  position: relative;

  h1 {
    margin-bottom: 10px;
  }
}

.sec-sale-head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  flex-wrap: wrap;
}

.left-sale {
  display: flex;
  gap: 20px;
  align-items: center;
}

.left-sale input {
  padding: 5px 20px;
  border-radius: 8px;
  border: 1px solid #d2d2d2;
  cursor: pointer;
  font-size: .85rem;
}

.right-sale {
  display: flex;
  padding: 5px;
  gap: 40px;
  align-items: center;
}

.right-sale i,
.bx-sale {
  margin: 0;
  padding: 5px 10px;
  font-size: 15px;
}

.right-sale i {
  font-size: 20px;
}

.right-sale button {
  display: flex;
  align-items: center;
  border-radius: 10px;
  cursor: pointer;
}

.right-sale button:first-child {
  border: 3px solid #1f6dff;
  background-color: white;
  color: #1f6dff;
}

.right-sale button:last-child {
  background-color: #1f6dff;
  border: 3px solid #1f6dff;
  color: white;
}

.sale-quantity-table {
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0px 0px 5px 0.3px rgba(0, 0, 0, 0.322);
}

.sales-table-prod {
  padding-left: 30px;
}

.sale-qnt-table th:last-child {
  text-align: center;
}

.total-calculate {
  display: flex;
  margin-top: 20px;
  padding: 10px 150px;
  border-radius: 10px;

  justify-content: space-between;
  box-shadow: 0px 0px 3px 0.2px rgb(0, 0, 0, 0.5);
  font-size: 16px;
}

.total-calculate span:first-child {
  font-weight: 700;
}

a {
  color: white;
}

@media(width <=530px) {
  .sec-sale-head {
    margin-top: 20px;

    .btn-container {
      width: 100%;
      justify-content: space-between;
      flex-wrap: wrap;
      gap: 0;

      button {
        min-width: 46%;
        font-size: 1.3rem;

        p {
          font-size: 1.2rem;

        }
      }
    }
  }

  .left-sale input {
    position: absolute;
    top: 0;
    right: 0;
    width: fit-content;
    padding: 0.4em 0.6em;
  }
}