.total-out {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.total-out {
  padding: 20px;
}

.report-table-container {
  margin-bottom: 20px;
}

@media print {
  table {
    width: 100%;
    table-layout: fixed;
    page-break-inside: avoid;
    max-width: 100%;

  }

  tr {
    page-break-inside: avoid;
  }

  .vertical-table {
    writing-mode: vertical-rl;
    text-orientation: mixed;
    width: auto;
    height: 100dvh;
    margin-left: auto;

    table {
      height: 95dvh !important;
    }
  }

  tr th:nth-child(2),
  tr td:nth-child(2) {
    min-width: 80px !important;

  }


  /* th,
  td {
    white-space: normal;
    max-width: 100px;
    padding: 5px;
  } */

  body {
    margin: 0;
    padding: 0;
  }

  table {
    margin: 0;
    padding: 0;
  }

  .print-button {
    display: none;
  }
}

@media print {
  nav * {
    visibility: hidden;
  }

  .print-button {
    display: none;
  }

  #report-content,
  #report-content * {
    visibility: visible;
  }

  #report-content {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
  }
}

#print-btn {
  padding: 10px;
  width: max-content;
  color: white;
  border: none;
  border-radius: 8px;
  outline: none;
}


@media print {
  .single-report-css {
    display: flex;
    gap: 20px;
  }

  .single-report-css>* {
    flex: 1;
  }
}