body {

    overflow-y: scroll;
    overflow-x: hidden;
}

* {
    margin: 0;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Poppins", system-ui;
}

:root {
    --sidebar-width: 300px;
    --sidebar-bg-color: #3b3030;
    --sidebar-border-radius: 10px;
    --sidebar-margin: 15px 0;
    --font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
    --font-color: white;
    --font-size: 12px;
    --icon-width: 24px;
    --default-color: #ffffff;
    --primary-color: #fff;
    --danger-color: #ee0030;
    --danger-color-hover: rgb(211, 0, 42);
    --primary-btn-color: #1F6DFF;
    --primary-btn-hover: #115ce6;
    --secondary-btn-hover: #dfeaff;

}

#root {
    width: 100%;
}

.hidden-carte li {
    color: red;
    padding: 400px;
}


.overlay {
    position: fixed;
    background-color: rgba(3, 3, 3, 0.664);
    z-index: 3;
    inset: 0;
    backdrop-filter: blur(2px);
}

/* ------------------------------------------Button css -------------------------------------------------------------------- */

.btn-container {
    display: flex;
    gap: 35px;

    button {
        cursor: pointer;
        font-weight: 500;
        /* letter-spacing: 1px; */
        min-width: 100px;
        padding: 10px 20px;
        font-size: 1.1rem;
        border-radius: 8px;
        border: none;
        transition: .2s;
        display: flex;
        gap: 10px;
        justify-content: center;
        align-items: center;

    }

    .del-btn {
        background-color: var(--danger-color);
        color: #fff;
    }
}

.secondary-btn {
    border: 2px solid var(--primary-btn-color) !important;
    border-color: #115ce6;
    border-width: 4px;
    background-color: var(--default-color);
    color: var(--primary-btn-color);
}

.secondary-btn>*,
.cancel-btn>*,
.primary-btn>* {
    font-size: inherit;
    padding: 0;
}

.primary-btn {
    color: var(--default-color);
    background-color: var(--primary-btn-color);
}

.primary-btn:hover {
    background-color: var(--primary-btn-hover);
}

.secondary-btn:hover {
    background-color: var(--secondary-btn-hover);
}

.cancel-btn {
    background-color: rgb(225, 225, 225);

}

.cancel-btn:hover {
    background-color: rgb(195, 195, 195);
}

.del-btn:hover {
    background-color: var(--danger-color-hover);
}

/* -------------------------------------------------------------------------------------------------------------- */




/* ----------------------------------------------form related----------------------------------------------------------- */
.form-container {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 100%;
    align-items: center;
    margin-bottom: 20px;

    label {
        font-size: 1rem;
        font-weight: 500;
    }

    input {
        padding: 6px 5px;
        flex: 1;
        width: 100%;
        border: 2px solid gray;
        border-radius: 6px;
        font-size: 1rem;
        font-weight: 600;
    }

    input::placeholder {
        font-weight: 500;
    }



}

input:focus {
    outline: none;
    border-color: black;
}

.form-container>* {
    text-align: center;
}


/* --------------------------------------------------------------------------------------------------------- */