* {
  margin: 0;
  padding: 0;
}

#finalReport {
  border-collapse: collapse;
  display: block;
}

table {
  page-break-inside: avoid;
}

.report-table-container {

  table>th,
  td {
    border: 1px solid gray;
    text-align: center;
    padding: 4px 2px !important;
  }

  /* table > td {
    width: 180px;
  } */
}

.report-table-head tr:nth-child(1)>*,
.report-table-head tr:nth-child(2)>* {
  border: 1px solid black;
  text-align: center;
  padding: 4px 2px !important;
}

.save-report {
  width: 100%;
}

.save-report button {
  float: right;
  padding: 10px;
  border-radius: 10px;
  font-size: 15px;
  border: none;
  outline: none;
}