* {
    margin: 0;
    padding: 0;
}

#finalReport {
    border-collapse: collapse;
    display: block;
}

.report-table-container {

    table>th,
    td {
        border: 1px solid gray;
        text-align: center;
        padding: 10px;
    }

    table>td {
        width: 180px;
    }
}

.report-table-head tr:nth-child(1)>*,
.report-table-head tr:nth-child(2)>* {
    border: 1px solid black;
    text-align: center;
    padding: 10px;
}
