.title-customize-cont {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-right: 15px;
    flex-wrap: wrap;
    gap: 20px;
}

/* .btn-container.sp {
    position: absolute;
    width: fit-content;
    top: -7px;
    right: 0;
} */

.search-select-container {
    display: flex;
    gap: 10px;
    justify-content: center;


    select {
        cursor: pointer;
        font-size: 1rem;
        outline: none;
        height: 100%;
        width: 100%;
        padding: 0.2em 0.6em;
    }

    .search-box {
        flex: 1;
    }

}


.brand-list-top.sp {
    flex-wrap: wrap;
    gap: 20px;
}


.sel-container {
    border: 1px solid rgb(192, 192, 192);
    border-radius: 100px;
    /* width: fit-content; */
    width: 150px;
    padding-right: 10px;

    select {
        border-radius: 100px;
        border: none;
        text-overflow: ellipsis;
    }
}

.btn-container.sp {
    gap: 10px;
}

.single-var h1{
    text-align: center;
    padding: 10px;
}


.brand-item-table.single-var {
    background-color: var(--default-color);
    padding: 15px 16px;
    border-radius: 14px;

    min-height: calc(100dvh - 286px);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.3);

    th {
        font-size: 1.01rem;
    }

    th,
    td {
        text-align: center;
        padding: auto 5px;
    }

}

.table-checkbox {
    width: 10px;

    input {
        position: relative;
        top: 2px;
        cursor: pointer;
        height: 15px;
        width: 15px;
    }
}

.table-action-container.single-table {
    width: 150px;

    .action-container {
        position: relative;
        align-items: center;
        justify-content: center;

        padding: 0;
        margin: 0;

        i {
            font-size: 1.6rem;
        }
    }
}

.stock-count-single {
    width: 200px;
}

@media (width < 940px) {
    .search-select-container {
        width: 100%;
    }

    .brand-list-top.sp {
        width: 100%;
    }

    .btn-container.sp {
        flex: 1;
        justify-content: space-between;
        width: 100%;
    }
}

@media (width < 550px) {
    .btn-container.sp {
        justify-content: space-between;
        width: 100%;
        gap: 10px;
    }
}