.page-head {
  display: flex;
  width: 100%;
  justify-content: space-between;
  border-bottom: 1px solid #dfdfdf;
  padding: 25px 15px;

  position: sticky;
  background-color: white;
  margin-top: -15px;
  top: 0px;
  align-items: center;
}

.left-crumb {
  font-size: 1rem;
}

.left-crumb span {
  display: flex;
  gap: 5px;
  padding: 0 10px;
  align-items: center;

}

.category,
.pages {
  font-size: 1.15rem;
  letter-spacing: 0.3px;
}

.category {
  color: #b9b9b9;
  font-weight: 500;
}

.pages {
  font-weight: 700;
  color: #555555;
}

.right-interact {
  display: flex;
  align-items: center;
  gap: 30px;
  padding: 0 10px;
}

.border-line {
  border: 1px solid #bfb8b8;
  height: 30px;
}

.right-interact i {
  font-size: 21px;
  color: #111111;
  cursor: pointer;
}

.search-box {
  position: relative;
  display: flex;
  gap: 10px;
  border: 1px solid #bfb8b8;
  padding: 6px 10px;
  border-radius: 22px;
  width: 280px;
}

.search-box input {
  border: none;
  outline: none;
  font-size: 1rem;
  margin-left: 30px;

}

.search-box i {
  position: absolute;
  /* top: 10px;
  left: 15px; */
  color: #c2c2c2;
  font-size: 1.5rem;
}